<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Is leader</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.student_id %></td>
        <td><%= team.is_leader %></td>
        <td><%= team.team_id %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
<%= link_to 'Remove all teams', teams_delete_all_path, method: :delete, data: { confirm: 'Are you like totally sure you wanna delete ALL teams?' } %>